.hover {
    border: 1px solid var(--static-transparent);

    &:hover {
        border: 1px solid var(--neutral-alpha-medium);
    }
}

.image {
    transition: var(--transition-micro-medium);
    transform: scale(1);
}

.iconColor {
    color: #575656;
    // filter: drop-shadow(4px 0px 10px #60e5fcaa);
}
.teamCard > div{
    min-width: 350px !important;
}

@media (max-width: 430px) {
    .teamCard > div{
        min-width: 280 !important;
    }
}