@import "tailwindcss";

[data-theme=light] { 
  --neutral-on-background-strong : #1f2937 !important;
  // --brand-on-background-medium: #0093B9;
  //  --page-background: var(--neutral-background-weak);
   --page-background: #f1f1f1 !important;
}

[data-theme=dark] { 
  --neutral-on-background-strong : #fff !important;
  // --brand-on-background-medium: #0093B9 !important;

}

html {
  scroll-behavior: smooth !important;
}

:root,
:host {
  --glow-deg: -90deg;
  --clr-1: #ff000076;
  --clr-2: #ffff0069;
  --clr-3: #00800092;
  --clr-4: #0000ff7f;
  --clr-5: #80008063;
}